.Triangle_Parent {
    position: relative;
    width: 300px;
    height: 300px;
    border: 5px solid #44474a;
    border-radius: 50%;
    margin: 50px auto;
  }

  .Triangle-Grandpa{
    margin: 0 14rem;
  }
  
  .item {
    position: absolute;
    width: 50px;
    height: 50px;
    /* background-color: blue; */
    border-radius: 50%;
  }
  
  .item1 {
    /* top: 50%;
    left: calc(50% - 100px); */

    top: -5%;
    left: calc(6% - 100px);
  }
  
  .item2 {
    /* top: calc(50% - 100px);
    left: 50%; */
    top: calc(28% - 100px);
    left: 61%;
  }
  
  .item3 {
    /* top: calc(50% + 50px);
    left: calc(50% + 50px); */
    top: calc(37% + 50px);
    left: calc(1% + 50px);
  }

  .triangleContainer {
    display: flex;
  }

  .card {
    width: 50%;
    
  }

  .imgBox {
    width: 120px;
  }

  .article {
    display: flex;
    justify-content: center;
    width: 300px;
  }
  
.card-container {
  display: flex;
  /* border: 1px solid black; */
  margin: 10px;
  border-radius: 12px;
 box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;;
}

  .card-container img {
    width: 6em;
    height: auto;
    position: relative;
    top: 3rem;
    left: 1rem;
  }

  .cardLay{
    display: flex;
    justify-content: center;
  }